@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    font-size: 62.5%;
}

html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: hsl(185, 75%, 39%);
}

.container {
    font-weight: 700;
    font-family: "Kumbh Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.first-bg {
    position: absolute;
    top: -40em;
    left: -20em;
}

.first-bg img {
    width: 90%;
}

.zweite-bg {
    position: absolute;
    bottom: -46em;
    right: -23em;
}

.zweite-bg img {
    width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.8rem;
}

footer a {
    color: #000;
}